.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 1px solid #000;
    background: lightblue;
    box-shadow: -5px 5px 5px 1px #000;
}

.header {
    text-align:center;
    background: transparent;
    margin-bottom: 2rem;
}

h1 {
    background: #aaaaaa;
    margin: 0;
    padding: .5rem;
}

p {
    margin: 0;
    padding: .5rem;
}